<%- include("partials/header2"); -%>
<h1><%= "Email" %></h1>
<h3><%= Email %></h3>
<h1><%= "Contact No." %></h1>
<h3><%= Number %></h3>
<h1><%= "Name" %></h1>
<h3><%= Name %></h3>
<h1><%= "Department" %></h1>
<h3><%= Department %></h3>
<h1><%= "Doctor" %></h1>
<h3><%= Doctor %></h3>
<h1><%= "Date Of Appoinment Request" %></h1>
<h3><%= date %></h3>

<%- include("partials/footer 2"); -%>
