<%- include("partials/header 2"); -%>
<h1 id="hospital"><%=hospitalname%></h1>
<h4 id="slogan"><%= hospitalslogan %></h4>
<h2 id="doctor"><%=doctorname%></h2>
<h4 id="qualify"><%= qualification %></h4>
<h3 id="name"><%=name%></h3>
<h3 id="email"><%=email%></h3>
<h3 id="age"><%=age%></h3>
<h3 id="sex"><%=sex%></h3>
<h3 id="date"><%=date%></h3>
<h3 id="medicine"><%= medicine %></h3>
<p id="content"><%=content%></p>
<h3 id="address"><%=hospitaladdress%></h3>
<h3 id="hospitalcontact"><%=hospitalcontact%></h3>
  
<%- include("partials/footer 2"); -%>
